@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');



* {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

:root {
    --Separadores:rgb(73, 57, 61);
    --Titulos: rgb(99, 59, 55);
    --Letra: rgb(232, 212, 201);
    --BgColor: rgb(47, 34, 39);
}



body {
    font-family: 'Special Elite';
}

.grid-container {
    padding: -1px;
    display: grid;
    background-color: var(--BgColor);
    background-image: url(https://images.unsplash.com/photo-1610824224972-db9878a2fe2c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGV4dHVyYSUyMG1hZGVyYXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);
    grid-template-areas: 'Header'
        'main'
        'footer';

}

.Header {
    position: relative;
    grid-area: 'Header';
    height: 11lvh;
    background-color: var(--Separadores);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-image: url(https://us.123rf.com/450wm/gangiskhan/gangiskhan1604/gangiskhan160400477/55388217-libros-de-la-vendimia-en-el-fondo-de-la-biblioteca.jpg?ver=6);

     
    
    & .logo {


        & img {
            height: 5.5em;
            vertical-align: middle;
            margin-left: 0.5em;
            padding: 3px 1px;
            width: 10%;
            filter: saturate(30%);
        }

        & h2 {
            font-size: 2.5em;
            color: var(--Letra);
            display: inline-block;
            width: 30vw;
        }
    }
}

.Botones {
    display: flex;
    justify-content: space-between;
    padding: 22px 26px;
    width: 90%;
    font-size: 16px;

    & a {
        text-decoration: none;
        color: var(--Letra);
        text-align: center;
        border-radius: 11px;
        padding: 8px 5px;
       

    }

    .Registro {
        background-color: var(--Titulos);
        color: var(--Letra);
    }
}

& a:hover {
    color: var(--Titulos);
    transform: translate(0, -10%);
    transition: .5s ease;
}

.Registro:hover {
    background-color: var(--Letra);
    color: var(--Titulos);
    transform: translate(0, -10%);
    transition: .5s ease;
}

.Main {
    grid-area: 'main';
    margin-top: 100px;
    height: 100vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    


    & .Texto {
    text-align: center;
    width: 100%;
    color: var(--Letra);
    padding: 5vh;
    border: 11px ridge var(--Separadores);;
    margin-left: 20vw;
    border-radius: 15px;
    background-color: var(--Separadores);
   & h2 {
        font-size: 50px;
    }

    & a {
        text-decoration: none;
        color: black;
        font-size: 40px;
        text-align: center;}

}
    & img{
        margin-right: 0.5em;
        margin: 10%;
        height: 60%;
        width: 70%;
    }
    

}

img:hover{
    filter: brightness(60%);
    transform: translate(0, -2%);
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.71); 
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.71);
    transition: .5s ease;
}



.Footer {
    grid-area: 'footer';
    background-color: var(--Separadores);
    height: 20lvh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    background-image: url(https://us.123rf.com/450wm/gangiskhan/gangiskhan1604/gangiskhan160400477/55388217-libros-de-la-vendimia-en-el-fondo-de-la-biblioteca.jpg?ver=6);
    
    .BotonesFooter {
        display: flex;
        justify-content: space-between;
        padding: 75px 13px;
        width: 75%;
        font-size: 17px;

        & a {
            text-decoration: none;
            color: var(--Letra);
            text-align: center;
            border-radius: 15px;
            padding: 20px;
        }

        .Registro {
            background-color: var(--Titulos);
            color: var(--Letra);
        }
    }

    & a:hover {
        color: var(--Titulos);
        transform: translate(0, -10%);
        transition: .5s ease;
    }

    .Registro:hover {
        background-color: var(--Letra);
        color: var(--Titulos);
        transform: translate(0, -10%);
        transition: .5s ease;
    }

}

@media screen and (max-width: 700px){
    .Header {
        position: relative;
        grid-area: 'Header';
        height: 110%;
        background-color: var(--Separadores);
        width: 100vw;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        
        & .logo {
            text-align: center;
    
    
            & img {         
                padding: 4px 1px;
                width: 12vh;
                filter: saturate(30%);
                height: 5.5em;
                vertical-align: middle;
                margin-left: 3.5em;
            }
    
            & h2 {
                font-size: 2.5em;
                color: var(--Letra);
                display: inline-block;
                width: 50vw;
            }
        }
    }
    
    .Botones {
        justify-content: space-between;
        padding: 22px 26px;
        width: 90%;
        font-size: 16px;
        margin-right: -80%;
        
    
        & a {
            text-align: center;
            border-radius: 11px;
            padding: 8px 5px;
           
    
        }
    
        .Registro {
            background-color: var(--Titulos);
            color: var(--Letra);
        }
    }
    
    .Main {
        grid-area: 'main';
        height: auto;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    
        
    
    
        & .Texto {
            text-align: center;
            width: 90%;
            margin: 0;}
        
    
        & img{
           
            height: 80%;
            width: 80%;
        }
        
    
    }
    
    
    
    
    .Footer {
        
        height: 20lvh;
        width: 100%;
        position: relative;
        text-align: center;
        display: flex;
       
        padding: 20px;
        overflow: hidden;
        
        .BotonesFooter {
            
            padding: 50px 13px;
            width: 80%;
            font-size: 20px;
    
            & a {
                text-decoration: none;
                text-align: center;
                border-radius: 15px;
                padding: 20px;
            
        }
    
    
    }
    
    
}}