.container-carousel {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    overflow: hidden;
  
}

.carruseles {
    width: 300%;
    height: 100%;
    display: flex;

}

.slider-section {
    width: calc(100% / 3);
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-left,
.btn-right {
    display: flex;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    font-size: 2.5rem;
    background-color: rgba(63, 63, 63, 0.425);
    border-radius: 50%;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

.bx {
    line-height: 0.8;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 20px;
}


/* -------------------------------*/
.container-carousel2 {
    position: relative;
    width: 500px;
    height: 300px;
    
  
}

.carruseles2 {
    width: 1000%;
    height: 100%;
    display: flex;

}

.slider-section2 {
    width: calc(100% / 10);
    height: 100%;
    & a{ padding: 41%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-shadow: 0px 0px 5px #ffffff;
    text-decoration: underline solid rgb(0, 0, 0);
    font-style: normal;
    font-variant: small-caps;
    transform: translate(0,-10%);
    transition: .5s ease;}
   
    & a:hover{ padding: 41%;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 30px;
        text-shadow: 0px 0px 5px #000000;
        text-decoration: underline solid rgb(255, 254, 254);
        font-style: normal;
        font-variant: small-caps;}
}

.slider-title2 {
    margin: -28%;
}


.slider-section2 img {
    width: 100%;
    height: 225%;
    padding: 20%;
    /*object-fit: cover;*/
}



.btn-left2,
.btn-right2 {
    display: flex;
    position: absolute;
    top: 110%;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.191);
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
    width: 4%;
    height: 7%;
}

.btn-left2:hover,
.btn-right2:hover {
    background-color: #333333d4;
    color: #fff;
}

.btn-left2 {
    left: 2vw;
}

.btn-right2 {
    left: 90vw;
  

}



/* -------------------------------*/
.container-carousel3 {
    position: relative;
    width: 500px;
    height: 300px;
    
  
}

.carruseles3 {
    width: 600%;
    height: 100%;
    display: flex;

}

.slider-section3 {
    width: calc(100% / 6);
    height: 100%;
    & a{ padding: 41%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-shadow: 0px 0px 5px #ffffff;
    text-decoration: underline solid rgb(0, 0, 0);
    font-style: normal;
    font-variant: small-caps;
    transform: translate(0,-10%);
    transition: .5s ease;}
   
    & a:hover{ padding: 41%;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 30px;
        text-shadow: 0px 0px 5px #000000;
        text-decoration: underline solid rgb(255, 254, 254);
        font-style: normal;
        font-variant: small-caps;}
}

.slider-title3 {
    margin: -28%;
}


.slider-section3 img {
    width: 100%;
    height: 225%;
    padding: 20%;
    /*object-fit: cover;*/
}



.btn-left3,
.btn-right3 {
    display: flex;
    position: absolute;
    top: 110%;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.191);
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
    width: 4%;
    height: 7%;
}

.btn-left3:hover,
.btn-right3:hover {
    background-color: #333333d4;
    color: #fff;
}

.btn-left3 {
    left: 2vw;
}

.btn-right3 {
    left: 90vw;
  

}
 